/* src/styles/Notifications.css */
.notification-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50px;
  font-weight: 600;
  line-height: 1;
}

.list-group-item {
  cursor: default;
}

.list-group-item.fw-bold:hover,
.list-group-item.fw-semibold:hover {
  background-color: #f1f9ff;
}
