.profile-container {
  min-height: 100vh;
  background-color: #f9f9f9;
}

.sidebar {
  width: 220px;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.sidebar .logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.sidebar .nav-item {
  margin-bottom: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding-left: 5px;
}

.sidebar .nav-item:hover {
  color: #29c1e2;
}

.card {
  background: #fff;
  border-radius: 8px;
}

textarea {
  resize: none;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                         